<!-- Search Bar -->
<section class="intro">
    <div class="h-25"></div>
    <div>
    <div class="container" >
      <p class="h2 mb-4 text-white">Search Your Desired Products :- </p>
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-12 mb-4">
              <div class="input-group">
                <div class="form-outline flex-fill">
                  <form action="/" class="form-outline">
                    <input type="search" id="form1" name="query" class="form-control form-control-lg" />
                    <label class="form-label" for="form1">Enter Your Text Here</label>
                    <div class="form-helper pt-2"><span class="font-weight-bold">Suggested:</span>
                      <a href = "javascript:;" onclick = "this.href='Page2.html?query=' + document.getElementById('form1').value">Send</a>
                      <a href="#!" class="text-black-50">spring,</a>
                      <a href="#!" class="text-black-50">natural,</a>
                      <a href="#!" class="text-black-50">outdoors,</a>
                      <a href="#!" class="text-black-50">forest,</a>
                      <a href="#!" class="text-black-50">cactus,</a>
                      <a href="#!" class="text-black-50">flowers,</a>
                      <a href="#!" class="text-black-50">more</a>
                  </form>
                  </div>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  