{% extends 'base.html' %}

{% block content %}
  <div class="h-25">
  </div>
  
  <section>
  <h1 class="text-white mx-5"><u>Recommendations:</u></h3>
  <div class="container">
    <div class="card card-body p-4 bg-light mt-3">
      <!-- Tabs navs -->
      <ul class="nav nav-tabs mb-3" id="ex-with-icons" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active text-success" id="tab-1" data-mdb-toggle="tab" href="#tabs-1" role="tab"
            aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i class="fas fa-chart-pie fa-fw me-2"></i>Content
            Based</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-warning" id="tab-2" data-mdb-toggle="tab" href="#tabs-2" role="tab"
            aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i
            class="fas fa-chart-line fa-fw me-2"></i>Collaborative Filtering</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link text-danger" id="tab-3" data-mdb-toggle="tab" href="#tabs-3" role="tab"
            aria-controls="ex-with-icons-tabs-3" aria-selected="false"><i
              class="fas fa-cogs fa-fw me-2"></i>Hybrid Models</a>
        </li>
      </ul>
      <!-- Tabs navs -->
      <div class="card" style="background-color: #d6e0ed;">
        <!-- Tabs content -->
        <div class="card-body mx-3">
          <div class="tab-content" id="ex-with-icons-content">
            <div class="tab-pane fade show active text-success" id="tabs-1" role="tabpanel"
              aria-labelledby="ex-with-icons-tab-1">
              <h3 class="card-title mx-3"><u>Content Based Model:</u></h5>
                <div class="note note-success mb-3 px-3 mx-3">
                  <strong>Definition:</strong>Content Based are the systems that create a recommendation system by capturing similarity relationship between items according to comments, description or attributes of items which users interact. It is based on the information on the contents of the item rather than
                  on the user opinions.The main idea is if the user likes an item then he or she will like the "other" similar item.
                </div>
                <div class="px-3">
                  <h5 class="card-title">We have Implemented:</h5>
                  <ul class="list-unstyled">
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>TF_IDF and Word2Vec in order to capture similarity</li>
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>Newly item adding will also recommend.</li>
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>TF-IDF method is the method which explains words frequency in document.</li>
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>It can be created a recommendation model by using cosine distance with the aid of TF-IDF weights.</li>
                  </ul>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-3">Dataset:</dt>
                    <dd class="col-sm-9">Kaggle <a href="https://www.kaggle.com/datasets/PromptCloudHQ/flipkart-products?select=flipkart_com-ecommerce_sample.csv" target="_blank"><u>Link</u></a></dd>
                    <dt class="col-sm-3">Shape:</dt>
                    <dd class="col-sm-9">exp.aboutDataCB</dd>
                    <dt class="col-sm-3">Column Names:</dt>
                    <dd class="col-sm-9">
                      {{ context.columnNamesCB }}
                    </dd>
                  </dl>
                </div>
                <div class="px-3">
                  <a href="{{url_for('contentBased')}}" class="btn btn-success">Content Based Recommend</a>
                </div>

            </div>
            <div class="tab-pane fade text-warning" id="tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
              <h3 class="card-title"><u>Collaborative Filtering:</u></h5>
                <div class="note note-warning mb-3 px-3 mx-3">
                  <strong>Definition: </strong>Utilize collaborative filtering techniques to generate recommendations based on user behaviors and similarities. Collaborative filtering methods include User-Based CF and Item-Based CF.
                </div>
                <div class="px-3">
                  <h5 class="card-title">We have Implemented:</h5>
                  <ul class="list-unstyled">
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-warning"></i>Popularity (Content Based)</li>
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-warning"></i>Collaborative Filtering</li>
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-warning"></i>Collaborative Filtering (Model Based)</li>
                  </ul>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-3">Dataset:</dt>
                    <dd class="col-sm-9">Kaggle <a href="https://www.kaggle.com/datasets/PromptCloudHQ/flipkart-products?select=flipkart_com-ecommerce_sample.csv" target="_blank"><u>Link</u></a></dd>
                    <dt class="col-sm-3">Shape:</dt>
                    <dd class="col-sm-9">exp.aboutDataCB</dd>
                    <dt class="col-sm-3">Column Names:</dt>
                    <dd class="col-sm-9">
                      {{ context.columnNamesCF }}
                    </dd>
                  </dl>
                </div>
                <div class="px-3">
                  <a href="{{url_for('collaborative')}}" class="btn btn-warning">GET Hybrid Recommendation</a>
                </div>
            </div>
            <div class="tab-pane fade text-danger" id="tabs-3" role="tabpanel" aria-labelledby="ex-with-icons-tab-3">
              <h3 class="card-title"><u>Hybrid Filtering:</u></h5>
                <div class="note note-danger mb-3 px-3 mx-3">
                  <strong>Definition: </strong>Combine collaborative and content-based filtering for improved accuracy and coverage.
                </div>
                <div class="px-3">
                  <h5 class="card-title">We have Implemented:</h5>
                  <ul class="list-unstyled">
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-danger"></i>Popularity (Content Based)</li>
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-danger"></i>Collaborative Filtering</li>
                    <li class="mb-1"><i class="fas fa-check-circle me-2 text-danger"></i>Collaborative Filtering (Model Based)</li>
                  </ul>
                </div>
                <div class="card-body">
                  <dl class="row">
                    <dt class="col-sm-3">Dataset:</dt>
                    <dd class="col-sm-9">Kaggle <a href="https://www.kaggle.com/datasets/PromptCloudHQ/flipkart-products?select=flipkart_com-ecommerce_sample.csv" target="_blank"><u>Link</u></a></dd>
                    <dt class="col-sm-3">Shape:</dt>
                    <dd class="col-sm-9">(70,000, )</dd>
                    <dt class="col-sm-3">Column Names:</dt>
                    <dd class="col-sm-9">
                      {{ context.columnNamesCF }}
                    </dd>
                  </dl>
                </div>
                <div class="px-3">
                  <a href="{{url_for('hybrid')}}" class="btn btn-danger">GET Hybrid Recommendation</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Tabs content -->
    </div>
  </div>
</section>



{% endblock content %}