html,
body,
.intro {
  height: 50vh;
}

body {
  background-color: #222a34;
  color: #fff;
}

/* ///////////////////////////////////////////////////////////////////// */

.result-box{
  max-height: 500px;
  overflow-y: scroll;
  width: 300px;
  background: #fff;
  color: #222a34;
  position: absolute;
  z-index: 999;
  margin-left: 890px;
  
}

.result-box ul{
  border-top: 1px solid #fff;
  padding: 15px 10px;
}
.result-box ul li{
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}
.result-box ul li:hover{
  background: #c4c6c8;
}

/* On hover background color c4c6c8 for full length of result-box ul li  */

.result-box ul li:hover{
  background-size: auto;
}

