<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1B2430;">
    <div class="container px-xxl-2">
        <a class="navbar-brand mb-0 h1 text-light" href="#">Flipkart</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link link-light active" aria-current="page" href="#">Home</a>
                <a class="nav-link link-secondary" href="#">Features</a>
                <a class="nav-link link-secondary" href="#">Pricing</a>
            </div>
        </div>
        <div class="px-4">
            <form action="/" method="GET" class="d-flex input-group w-auto">
                <input type="search" class="form-control rounded form-outline form-white border-0" id="autoComp"
                    placeholder="Type query" aria-label="Search" aria-describedby="search-addon" name="query"
                    value="" />
                <button class="btn bg-success text-light" data-mdb-ripple-color="dark">Search</button>
            </form>
        </div>
        <div class="d-flex align-items-center px-2">
            <a class="btn text-white" style="background-color: #0082ca;" href="https://github.com/mdbootstrap/mdb-ui-kit" role="button">
                <i class="fab fa-github fa-lg"></i> GiHub Code
            </a>

            </a>
        </div>
    </div>
</nav>
<!-- Navbar End -->