{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='js/hybrid.js')}}"></script>
<!-- <script type="text/javascript" src="{{url_for('static', filename='js/hybrid2.js')}}"></script> -->
<div class="h-25">
</div>
<section>
    <div class="container">
      <h1 class="text-warning"><u>Hybrid Filtering:</u></h1>
      <div class="card">
        <div class="card-body d-flex">
          <form action="/hybrid" method="GET" class="input-group">
            <input type="search" id="hybrid1-autocomplete" class="form-control rounded" placeholder="Type User Id"
              aria-label="Search" aria-describedby="search-addon" name="hybridQuery1" required/>
            <input type="search" id="hybrid2-autocomplete" class="form-control rounded" placeholder="Type Product Id"
              aria-label="Search" aria-describedby="search-addon" name="hybridQuery2" required/>
            <button class="btn btn-outline-primary">search</button>
          </form>
        </div>
      </div>
      <div class="hybrid1-result" style="right: 100px;">
        <!-- dropdown list 1 -->
      </div>
      <div class="hybrid2-result">
        <!-- dropdown list 2 -->
      </div>
    </div>
  </section>
    <section>
        <div class="container mt-5">
        <table class="table table-hover table-danger">
            <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Product ID</th>
                <th scope="col">User ID</th>
                <th scope="col">Product Ratings</th>
            </tr>
            </thead>
            <tbody>
            {% set ans = context.data %}
            {% for i in range(0, ans|length) %}
            <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ ans[i][0] }}</td>
                <td>{{ ans[i][1] }}</td>
                <td>{{ ans[i][2] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </section>
{% endblock content %}